/* Portfolio styles will go here */

/* General Page Styles */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eef7ff; /*#f5f5f5*/ 
  color: #333;
  line-height: 1.6;
}

/* Header */
header {
  background-color: #222;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

/* menus */
.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* main title */
header h1{
  margin-bottom: 15px;
}

/* Navigation */
nav ul{
  list-style: none;
  display: flex;
  gap: 30px;
}


nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a:hover{
  color: gold;
}

nav a.active {
  color: #0077cc;
  font-weight: bold;
}
/* Sections */
section{
  padding: 60px 30px;
}

/* Hero section */
#hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  padding: 80px 60px;
  gap: 60px;
}

.hero-text {
  max-width: 600px;
}
.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.hero-image img{
    width: 350px;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

a .btn {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  background-color: rgba(252, 251, 251, 0.308);
  color: #0077cc;
  border-radius: 8px;
  border: 2px solid #0077cc;
  transition: 0.3s ease;
  margin-top: 6px;
  font-size: 14px;
  padding: 15px 20px;
}

a .btn:hover {
  transform: translateY(2px);
}
/* Section Titles */
.section-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  align-items: center;
}

.about-image {
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 280px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: block;
}

.about-content h3 {
  margin: 20px 0 10px;
  color: #0077cc;
}

.about-content p {
  line-height: 1.8;
  margin-bottom: 20px;
}

.skills-container {
  max-width: 800px;
  margin: auto;
}

.skill {
  margin-bottom: 25px;
}

.skill span {
  font-weight: bold;
}

.progress {
  background: #ddd;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 8px;
}

.progress-bar {
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.html {
  width: 95%;
  background: #e34c26;
}

.css {
  width: 90%;
  background: #264de4;
}

.javascript {
  width: 75%;
  background: #f0db4f;
  color: black;
}

.node {
  width: 70%;
  background: #3c873a;
}

.express {
  width: 70%;
  background: #555;
}

.mysql {
  width: 80%;
  background: #00758f;
}

.git {
  width: 50%;
  background:#4f3a87
}

.github {
  width: 50%;
  background: rgb(255, 94, 1);
  color: black;
}

.projects-container {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap: 30px;
}

.project-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.project-card {
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform:translateY(-10px);
}
.project-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.project-content {
  padding: 25px;
}

.project-content h3 {
  margin-bottom: 15px;
  color: #0077cc;
}

.project-content p {
  line-height: 1.7;
}

.project-buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.btn {
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.primary-btn {
  background: #0077cc;
  color: white;
}

.secondary-btn {
  border: 2px solid #0077cc;
  color: #0077cc;
}

.btn:hover {
  opacity: .85;
}

#contact {
  padding: 80px;
  background: #f8f9fa;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: start;
}

.contact-info {
  margin-bottom: 20px;
  color: #0077cc;
}

.contact-info p {
  margin-bottom: 15px;
  line-height: 1.7;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input, 
.contact-form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.contact-form input:focus, 
.contact-form textarea:focus {
  border-color: #0077cc;
  box-shadow: 0 0 5px rgba(0, 119, 204, 0.3);
}

.contact-form button {
  padding: 15px;
  background: #0077cc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background: #005fa3;
}

#form-message {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

footer {
  background: #1d1d1d;
  color: white;
  padding: 60px 0 20px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.footer-content h3 {
  margin-bottom: 20px;
  color: #4da3ff;
}

.footer-content p {
  line-height: 1.7;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 12px;
}

footer a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #4da3ff;
}

footer hr {
  margin: 40px 0 20px;
  border: none;
  height: 1px;
  background: #444;
}

.copyright {
  text-align: center;
  color: #ccc;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease,
              transform 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
/* Responsive Design */
@media (max-width: 768px) {
  #hero {
    flex-direction: column-reverse;
    text-align: center;
    padding: 50px 25px;
  }
  .hero-button {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
  }
  .hero-text h2{
    font-size: 38px;
  }
  .hero-text h3{
    font-size: 22px;
  }
  .description {
    font-size: 16px;
  }
  .hero-image img{
    width: 250px;
   
  }
  .hero-image {
    margin-top: 60px;
  }
  header {
    flex-direction: column;
   
  }
  .menu-toggle {
    display: block;
  }
  nav {
    display: none;
  }
  nav.show {
    display: block;
    width: 100%;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
.about-image img {
  width: 80vw;
  max-width: 280px;
  height: auto;
  border-radius: 20px;
  display: block;
}
  .section-title {
    font-size: 32px;
  }
  .project-buttons {
    flex-direction: column;
  }
  #contact {
    padding: 50px 25px;
  }
  .contact-container {
    grid-template-columns: 1fr;
  }
  .contact-info {
    text-align: center;
  }
  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

 
}